<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab1ab">  <td>18/10/28 16:39:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateMergeUsingPages.createMergeLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:TestCase.TC002_CreateMergeUsingPages@3327bd23]">createMergeLead</td> 
  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>18/10/28 16:39:30</td>   <td>-8733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectsMethods.login()[pri:0, instance:TestCase.TC002_CreateMergeUsingPages@3327bd23]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/10/28 16:39:29</td>   <td>-9653</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateMergeUsingPages.setData()[pri:0, instance:TestCase.TC002_CreateMergeUsingPages@3327bd23]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
</table>
