<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3ffec">  <td>18/10/13 11:25:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectsMethods.close()[pri:0, instance:testcases.TC001CreateLeads@52a86356]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test(failed)-2@1510331892</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/10/13 11:25:54</td>   <td>19898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectsMethods.close()[pri:0, instance:testcases.TC001EditLeads@66480dd7]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test(failed)-1@1336230683</td>   <td></td> </tr>
<tr bgcolor="ceaf6a">  <td>18/10/13 11:25:19</td>   <td>-15826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001CreateLeads.createLead()[pri:0, instance:testcases.TC001CreateLeads@52a86356]">createLead</td> 
  <td>TestNG-test=Test(failed)-2@1510331892</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>18/10/13 11:25:19</td>   <td>-15551</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001EditLeads.createLead()[pri:0, instance:testcases.TC001EditLeads@66480dd7]">createLead</td> 
  <td>TestNG-test=Test(failed)-1@1336230683</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/10/13 11:24:49</td>   <td>-45035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectsMethods.login()[pri:0, instance:testcases.TC001CreateLeads@52a86356]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test(failed)-2@1510331892</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/10/13 11:24:49</td>   <td>-45035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectsMethods.login()[pri:0, instance:testcases.TC001EditLeads@66480dd7]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test(failed)-1@1336230683</td>   <td></td> </tr>
</table>
